<starbucks-toolbar
  (toggleSideNav)="toggleSideNav()"
  (logout)="logout()"
></starbucks-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="true" mode="side" class="app-sidenav">
    <nav>
      <a
        mat-button
        class="nav-link"
        *ngFor="let link of links"
        [routerLink]="link.path"
        routerLinkActive="active"
      >
        <mat-icon>
          {{ link.icon }}
        </mat-icon>
        {{ link.title }}
      </a>
    </nav>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
